<p id="notice"><%= notice %></p>
<h4>Authors</h4>
</br>
<div class='row z-depth-1' style='margin: 0px 20px 0px 20px; padding: 5px 20px 5px 20px;'>
  <h5>Filters:</h5>
  <%= form_tag(authors_path, method: 'get', remote: true, id: 'author_search') do %>
    <div class='row'>
      <div class="input-field col s5">
        <input id="name" name='name' type="text">
        <label for="name">Name</label>
      </div>
      <div class='input-field col s1 offset-s4'>
        <button class='submit waves-effect waves-light btn-small blue lighten-2 gray-text', form='author_search'>search</button>
      </div>
      <div class='input-field col s2'>
        <%= link_to 'New Author', { controller: 'authors', action: 'new' },
            class: 'waves-effect waves-light btn-small blue lighten-2 gray-text' %>
      </div>
    </div>
  <% end %>
 </div>
<table class='centered responsive-table'>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @authors.each do |author| %>
      <tr>
        <td><%= author.name %></td>
        <td><%= link_to '<i class="material-icons">edit</i>'.html_safe, edit_author_path(author), 
        class: "tooltipped", 'data-position' => 'left', 'data-tooltip' => 'Edit' %></td>
        <td><%= link_to '<i class="material-icons">delete</i>'.html_safe, author,
          method: :delete, data: { confirm: 'Are you sure?' },
          class: "tooltipped", 'data-position' => 'left', 'data-tooltip' => 'Delete' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<script>
  $(document).ready(function(){
    $('.tooltipped').tooltip();
  });
</script>
