<div style='margin: 0px 20px 0px 20px; padding: 5px 20px 5px 20px;'>
  <% books.each do |book| %>
    <tr>
      <td><%= book.name %></td>
      <td><%= book.description %></td>
      <td><%= book.image_url %></td>
      <td><%= book.author_name %></td>
      <td><%= link_to '<i class="material-icons">edit</i>'.html_safe, edit_book_path(book), 
        class: "tooltipped", 'data-position' => 'left', 'data-tooltip' => 'Edit' %></td>
      <td><%= link_to '<i class="material-icons">delete</i>'.html_safe, book,
        method: :delete, data: { confirm: 'Are you sure?' },
        class: "tooltipped", 'data-position' => 'left', 'data-tooltip' => 'Delete' %></td>
    </tr>
  <% end %>
</div>
<script>
  $(document).ready(function(){
    $('.tooltipped').tooltip();
  });
</script>