<h3 class='center-align'>Log in</h3>
</br></br>
<div class='container'>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'col s5') do |f| %>
    <div class="input-field col s5">
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      <label for="email">Email</label>
    </div>

    <div class="input-field col s5">
      <%= f.password_field :password, autocomplete: "current-password" %>
      <label for="password_confirmation">Password Confirmation</label>
    </div>

    <div class="actions">
    <%= f.submit "Login", class: 'waves-effect waves-light btn-small blue lighten-2 gray-text' %>
    <%= link_to 'Sign up', { controller: 'devise/registrations', action: 'new' },
    class: 'waves-effect waves-light btn-small blue lighten-2 gray-text' %>
    </div>
  <% end %>
</div>