<!DOCTYPE html>
<html>
  <head>
    <title>Foundbook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='grey lighten-5'>
    <nav class='nav-center blue lighten-2 gray-text'>
      <div class="nav-wrapper">
        <span class="brand-logo left hide-on-med-and-down">Hi <%= username %></span>
        <ul class="center hide-on-med-and-down">
          <li><a href="/">Books</a></li>
          <% if user_signed_in? %>
            <li><a href="/authors">Authors</a></li>
            <li class='right'><a href=<%= destroy_user_session_path %> data-method="delete">Sign out</a></li>
          <% else %>
            <li class='right'><a href="/users/sign_in">Login</a></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
