<!DOCTYPE html>
<html>
  <head>
    <title>Foundbook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='grey lighten-5'>
    <nav class='nav-center blue lighten-2 gray-text'>
      <div class="nav-wrapper">
        <ul class="center hide-on-med-and-down">
          <li><a href="login.html">Login</a></li>
          <li><a href="books.html">Books</a></li>
          <li><a href="authors.html">Authors</a></li>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
